## Goal
The objective of this project is to build one or more forecasting models to determine the demand for a particular product using the other columns as features.

In [130]:
import pandas as pd #load the data into panda data frames
import re
from sklearn import preprocessing #label encoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split #split the dataset
from statsmodels.tsa.arima_model import ARIMA
import warnings
warnings.filterwarnings('ignore')
from fbprophet import Prophet

## Load the Dataset
I am using the [Product Demand Forecasting dataset](https://www.kaggle.com/felixzhao/productdemandforecasting) from Kaggle, which describes the dataset as "historical product demand for a manufacturing company with footprints globally".

In [131]:
product = pd.read_csv('../data/Historical_Product_Demand.csv')
product.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

Looked at what the keys mean:

In [132]:
product.keys()

Index(['Product_Code', 'Warehouse', 'Product_Category', 'Date',
       'Order_Demand'],
      dtype='object')

- **Product_Code:** Product name
- **Warehouse:** Warehouse name
- **Product_Category:** Product Category for each Product_Code
- **Date:** The date customer needs the product
- **Order_Demand:** single order qty

## Data Preparation
### Cleaning

1. **Remove redundant labels:** I cleaned the category, warehourse, and code columns to remove the repetitive "Category_", "Whse_" and "Product_" strings.

In [133]:
code_pattern = re.compile(r'Product_')
product['Product_Code'] = product['Product_Code'].str.replace(code_pattern, '')

In [134]:
category_pattern = re.compile(r'Category_')
product['Product_Category'] = product['Product_Category'].str.replace(category_pattern, '')

In [135]:
warehouse_pattern = re.compile(r'Whse_')
product['Warehouse'] = product['Warehouse'].str.replace(warehouse_pattern, '')

In [136]:
product

        Product_Code Warehouse Product_Category       Date Order_Demand
0               0993         J              028  2012/7/27         100
1               0979         J              028  2012/1/19         500
2               0979         J              028   2012/2/3         500
3               0979         J              028   2012/2/9         500
4               0979         J              028   2012/3/2         500
...              ...       ...              ...        ...          ...
1048570         1791         J              006  2016/4/27        1000
1048571         1974         J              006  2016/4/27           1
1048572         1787         J              006  2016/4/28        2500
1048573         0901         J              023  2016/10/7          50
1048574         0704         J              001  2016/6/27           4

[1048575 rows x 5 columns]

2. **Drop rows without dates:** Upon checking if any rows contain NaN values, I see that some Dates are not present. I drop these rows.

In [137]:
product[product.isna().any(axis=1)].head(2)

       Product_Code Warehouse Product_Category Date Order_Demand
45460          1461         A              019  NaN       10000
456373         1636         A              019  NaN         100

In [138]:
product = product.dropna()

## Transformation

1. **Encode strings into ints:** Transform warehouse letters into a numeric value. To perform statistical analysis and to pass the data into the linear regression model, I encode the string into integer values as the models do not work with strings.

In [139]:
encode = preprocessing.LabelEncoder()
encode.fit(product['Warehouse'])
product['Warehouse'] = encode.transform(product['Warehouse'])

2. **Sort by date:** As this is a time forecasting problem we are trying to predict and visualize, I sort the values by date to later display a teamline.

In [140]:
product.sort_values(by=['Date'])

       Product_Code  Warehouse Product_Category        Date Order_Demand
44799          0965          0              006    2011/1/8           2
131429         0412          3              007  2011/10/20          (2)
131426         0125          3              011  2011/10/20          (2)
75193          0642          1              019  2011/10/31           3
131026         2137          3              009  2011/11/18         (25)
...             ...        ...              ...         ...          ...
919105         0689          2              011    2017/1/6         200
920147         1970          2              005    2017/1/6        2000
863020         1904          1              019    2017/1/9        4000
908844         0471          1              015    2017/1/9          30
908447         0250          1              007    2017/1/9         148

[1037336 rows x 5 columns]

3. **Convert to string:** I convert all strings into float values, except for the date column. I remove all parentheses around numbers before doing so as it gave me an error.

In [141]:
columns = ['Product_Code', 'Warehouse', 'Product_Category', 'Order_Demand']
for col in columns:
    product[col] = product[col].astype(str).str.replace(r'[\(\)]+',"")
    product[col] = product[col].astype(float)
product

         Product_Code  Warehouse  Product_Category       Date  Order_Demand
0               993.0        2.0              28.0  2012/7/27         100.0
1               979.0        2.0              28.0  2012/1/19         500.0
2               979.0        2.0              28.0   2012/2/3         500.0
3               979.0        2.0              28.0   2012/2/9         500.0
4               979.0        2.0              28.0   2012/3/2         500.0
...               ...        ...               ...        ...           ...
1048570        1791.0        2.0               6.0  2016/4/27        1000.0
1048571        1974.0        2.0               6.0  2016/4/27           1.0
1048572        1787.0        2.0               6.0  2016/4/28        2500.0
1048573         901.0        2.0              23.0  2016/10/7          50.0
1048574         704.0        2.0               1.0  2016/6/27           4.0

[1037336 rows x 5 columns]

## Forecasting Models

I start with a naive linear regression model, which might not be the most accurate, but will help give a scale of how good the prediction can be.

In [142]:
# product["Product_Code"] = product["Product_Code"].str.split(r"product_").str.get(1).astype(int)

In [143]:
classes = product['Order_Demand']
#removed date fro features
features = product[['Product_Code', 'Warehouse', 'Product_Category']]

In [144]:
X_train, X_test, Y_train, Y_test = train_test_split(features, classes, test_size=0.2, random_state=13)

In [145]:
# linear_reg = LinearRegression()
# linear_reg.fit(X_train, Y_train)

In [146]:
# from statsmodels.tsa.arima_model import ARIMA
# model = ARIMA(product, order=(5,1,0))
# model_fit = model.fit(disp=0)
# print(model_fit.summary())

Next, I try to the Prophet time forecasting model, which require only two columns 'ds' and 'y'.

In [147]:
prophet_df = product[['Order_Demand', 'Date']].copy()
prophet_df = prophet_df.rename(columns={"Order_Demand": "y", "Date": "ds"})
prophet_df.head()

       y         ds
0  100.0  2012/7/27
1  500.0  2012/1/19
2  500.0   2012/2/3
3  500.0   2012/2/9
4  500.0   2012/3/2

In [ ]:
model = Prophet()
model.fit(prophet_df)

future = model.make_future_dataframe(periods=730)
future.tail()

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.